header{
    background-color: #212529;
}

header a{
    color: white !important  ;
}
#intor{
    background-color:#212529;
    color: white !important;
}

$color-primary:#6C757D;

.pad-row{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.btn1{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.img-br{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn1:hover{
    background-color: #0b5ed7 !important;
}
.btn2:hover{
    background-color: #FFF !important;
    color: #212529;
}

.btn2{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background-color:#212529;
}

.firts-featured{
    flex-direction: column;
    justify-content: space-around;
    .first-featued-icon {
        display: inline-block;
        background-color: #0b5ed7;
        color: red;
    } 
}


#comment{
    background-color:#F8F9FA ;
    .comment-col{
        display: flex;
        justify-content: center;
        .comment-area{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 50%;
            font-size: 24px;
        }
    }
    .comment-row{
        margin-top: 25px;
        padding-top: 75px;
    }
    
    .author {
        font-size:16px ;
        padding-bottom: 4.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .mini-photo{
            display: inline-block;
            height: 45px;
            width: 45px;
            background-color: #CED4DA;
            border-radius: 100%;
            
        }
    }
}
.blog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.4rem;
    padding-bottom: 2.4rem;
    p{
        width: 440px;
        text-align: center;
        font-size: 18px;
        color: $color-primary;
    }
}


.card-wrapper{
    display: flex;
    justify-content: space-between;
}

#footer{
    background-color: #212529;
    color: white;
    .container{
        background-color: #212529;
    }
    .footer-contect{
        display: flex;
        justify-content: space-between;
        align-items: center ;

        ul{
            display: flex;
            align-items: center;
            
            
           list-style: none;
           text-decoration: underline;
           li{
               padding-left: 25px;
           }
        }
    }
}


#delevired{
    margin-top: 65px;
    
}
.delivered-wrapper{
    border: 1px solid transparent;
    border-radius: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    margin-bottom: 60px;
    background-color: #227BFD;
    color: white;
        .form-side{
            display: flex;
            justify-content: end;
            .btn{
                background-color:#227BFD;
                border: 1px solid white ;
                color: white;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }

        }
  

}